<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <title>List of Todos</title>
</head>
<body>
<div class="container-fluid">
    <h1 align="center">TODOS FOR TODAY</h1>
<div align="center">
    <p><a href="/todo/add" th:style="'color: white;'" class="btn btn-warning btn-lg" role="button" aria-pressed="true">Add new todo</a></p>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">ACTION</th>
            <th scope="col">DONE</th>
            <th scope="col">URGENT</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="todos : ${listOfTodos}">
            <td th:text="${todos.id}"></td>
            <td th:text="${todos.title}"></td>
            <td>
                <div th:if="${todos.isDone()}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div>
                <div th:unless="${todos.isDone()}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
            </td>
            <td>
                <div th:if="${todos.isUrgent()}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div>
                <div th:unless="${todos.isUrgent()}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
            </td>
            <form action="#" th:action="@{/todo/}" method="post"
                  th:object="${todos}">
                <td>
                    <button class="btn btn-danger" type="submit" name="delete"
                            th:value="${todos.id}">Delete</button>
                </td>
            </form>
            <td>
                <form action="#" th:action="@{/todo/edit/} + *{id}" method="get" th:object="${todos}">
                    <input class="btn btn-primary" value="Edit" type="submit"/>
                </form>
            </td>
        </tr>
    </tbody>
</table>
</div>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>